.mat-toolbar {
  background-color: inherit;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-weight: bold;
  font-size: 24px;
  color: #e50914;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}
